.container__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 40px;
}

.container__title>h1 {
    font-size: 80px;

    padding: 10px;
    text-align: center;
}

.container__title>hr {
    width: 100%;

    margin: 20px 0;
}