<app-menu-bar></app-menu-bar>
<app-title></app-title>
<div class="container__cards">
    <div class="card__main">
        <app-main-card
            imageUrl="https://img.freepik.com/free-photo/vivid-transparent-orange-autumn-leaf_23-2148239677.jpg"
            title="Card Title" textContent="Card paragraph content"></app-main-card>
    </div>

    <div class="cards__sec">
        <app-small-card imageUrl="https://wallpaperaccess.com/full/2500093.jpg" title="Small Card Title Placeholder"
            textContent="Small Card Paragraph Placeholder"></app-small-card>
        <app-small-card imageUrl="https://wallpaperaccess.com/full/2500093.jpg" title="Small Card Title Placeholder"
            textContent="Small Card Paragraph Placeholder"></app-small-card>
        <app-small-card imageUrl="https://wallpaperaccess.com/full/2500093.jpg" title="Small Card Title Placeholder"
            textContent="Small Card Paragraph Placeholder"></app-small-card>

    </div>
</div>